doctype html
html(lang="pt-br")
  //- Testar no servidor aws, e depois continuar na documentação express/nodejs
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/multi-select-tag/src/css/multi-select-tag.css')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/script.js')
    script(src='/multi-select-tag/src/js/multi-select-tag.js')
  body
    div#myToast.toast
      div#toast-header.toast-header
        strong#toast-title.me-auto
        // <small>Agora</small>
        button.btn-close(data-bs-dismiss="toast" aria-label="Fechar" type="button")

      div#toast-body.toast-body
        span#icon-notification
        | &nbsp;
        span#toast-body-notification
    if session
      nav.nav
        div.logo-menu LLGImoveis
        div.menu-itens
          h5.itens
            a(route="customers/list_customers" redirect="redirect" ) Clientes
          h5.itens
            a(route="products/list_products" redirect="redirect") Produtos  
          h5.itens
            a(route="requests/list_requests" redirect="redirect") Pedidos
          h5.itens
              a(route="logout" redirect="redirect" ) Sair
          h5.itens
              a #{user_name}     
               

    div(style="padding:20px")       
      block content

